#account-modal-trigger {
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
}

#account-button-container {
    position: absolute;
    right: 30%;
    top: 50%;
    width: 250px;
    font-family: "cera-pro";

    @media (max-width: 1400px) {
        right: 15%;
    }

    @media (max-width: 650px) {
        right: 5%;
    }
}

.account-modal-form {
    margin: auto;
    height: 629px;
    width: 360px;
    font-family: "cera-pro";
    padding: 48px 48px 48px 40px;

    .body {
        margin: 0;
        padding: 0;
    }

    .sector {
        width: calc(100% - 88px);
        margin-bottom: 10px;

        &>textarea {
            height: 113px;
            width: 272px;
            border: 1px solid black;
            resize: none;
            padding: 12px 14px 12px 14px;
        }

        .tg-input-group {
            border: 1px solid black;
            max-width: 100%;

            .tg-input-prepend,
            .tg-input {
                border: none;
                background-color: transparent;

                &:active,
                &:focus {
                    border: none;
                    box-shadow: none;
                }
            }
        }

        &.submit {
            margin-top: 25px;
            height: 40px;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            cursor: pointer;

            &.loading {
                cursor: default;
            }

            &>span {
                letter-spacing: 5px;
            }
        }
    }
}
