.user-tooltip-layout-default {
    --color: white;
    --background-color: white;

    &.user-tooltip-container {
        display: flex;
        margin: 15px;
        height: 100%;
        max-height: 300px;
        width: 272px;
        color: var(--color);
        font-size: 1em;
        font-family: "cera-pro";
        background-color: transparent;
    }

    .user-tooltip-left-column {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 30%;

        .user-tooltip-left-top-row {
            display: flex;
            flex-direction: row;
            height: 80px;
            border-radius: 20px 0 0 20px;
            background-color: var(--background-color);

            .user-tooltip-picture {
                background-color: #c4c4c4;
                position: relative;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                margin: auto;
            }
        }

        .user-tooltip-left-bottom-row {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 0%;
            position: relative;

            &::after {
                position: absolute;
                content: "";
                height: 50px;
                width: 20%;
                top: 0%;
                left: 80%;
                border-top-right-radius: 25px;
                background-color: transparent;
                box-shadow: 5px -15px 0 0 var(--background-color);
                z-index: 1052;
            }
        }
    }

    .user-tooltip-right-column {
        display: flex;
        flex-direction: column;
        width: 70%;

        .user-tooltip-right-top-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 5px 15px 0px 5px;
            height: 80px;
            background-color: var(--background-color);
            border-radius: 0 12px 0 0;
        }

        .user-tooltip-right-bottom-row {
            display: flex;
            flex-direction: row;
            background-color: var(--background-color);
            border-radius: 0 0 20px 20px;
            min-height: 80px;
            padding: 5px 15px 10px 15px;
        }
    }

    .user-tooltip-text-content {
        max-height: 100%;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
}
