$button-width: 32px; // The width of the button area
$button-height: $button-width; // The height of the button area
$button-transistion-duration: 0.2s; // The transition duration
$bar-thickness: 5px; // The thickness of the button bars
$c-hamburger-line-color: white;

// Base/unclicked hamburger icon
.c-hamburger {
  z-index: 1051;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: $button-width;
  height: $button-height;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  cursor: pointer;
  transition: background $button-transistion-duration;
}

.c-hamburger span {
  display: block;
  position: absolute;
  height: $bar-thickness;
  width: 100%;
  background: $c-hamburger-line-color;
}

.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: $bar-thickness;
  background-color: $c-hamburger-line-color;
  content: "";
  top: $bar-thickness + 8px;
}
