#logo-wrapper {
    padding-left: 2.6vw;
    padding-top: 2.6vw;   

    @media(max-width: 1400px){
        padding-left: 1.5vw;
        padding-top: 1.5vw;
    }
}

#burger-wrapper {
    padding-right: 2.6vw;
    padding-top: 2.6vw;   

    @media(max-width: 1400px){
        padding-right: 1.5vw;
        padding-top: 1.5vw;
    }
}

#logo {
    max-width: 50px;
    z-index: 1050;
}

