#logo-wrapper {
    padding-left: 50px;
    padding-top: 50px;   

    @media(max-width: 1400px){
        padding-left: 36px;
        padding-top: 36px;
    }
}

#burger-wrapper {
    padding-right: 50px;
    padding-top: 50px;   

    @media(max-width: 1400px){
        padding-right: 36px;
        padding-top: 36px;
    }
}

#logo {
    max-width: 50px;
    z-index: 1050;
}

