html, body, #root, .custom-control, .custom-switch {
    /** Can be overriden for better responsibility **/
    --windowInnerHeight: 100vh;
    
    height: var(--windowInnerHeight);
    margin: 0;
    padding: 0;
}

.custom-control, .custom-switch {
    z-index: auto;
}

#root {
    position: relative;
    max-width: 100vw;
    overflow-x: hidden;
}

@font-face {
    font-family: "sf-pro-display";
    src: url("static/sf-pro-display/SFProDisplay-Regular.ttf");
}

@font-face {
    font-family: "sf-pro-display light";
    src: url("static/sf-pro-display/SFProDisplay-Light.ttf");
}